DISCORD_TOKEN=MTQ3ODMxNzEzNjA1MjA5Mjk0OA.GeK1C_.MNJc8pHTzmV77MtA2qD6vDbWRyQDn4YfiTIBlQ
DISCORD_CLIENT_ID=1478317136052092948
DISCORD_GUILD_ID=1478311970997534854
MONGODB_URI=mongodb+srv://Core:core123@cluster0.4qhuf1v.mongodb.net/?appName=Cluster0
PORT=3000

TASK_CHANNEL_NAME=project-tasks
LOG_CHANNEL_NAME=server-logs
ARCHIVE_CATEGORY_NAME=archived
LEAD_DEVELOPER_ROLE_NAME=Lead Developer

CREATE_TASK_ROLES=Founder,Lead Developer
ASSIGN_TASK_ROLES=Founder,Lead Developer
MOVE_TASK_ROLES=Founder,Lead Developer
ARCHIVE_TASK_ROLES=Founder,Lead Developer
