DISCORD_TOKEN=your_discord_bot_token
DISCORD_CLIENT_ID=your_application_client_id
DISCORD_GUILD_ID=optional_guild_id_for_instant_command_updates
MONGODB_URI=your_mongodb_atlas_connection_string
PORT=3000

TASK_CHANNEL_NAME=project-tasks
BUG_CHANNEL_NAME=bug-reports
LOG_CHANNEL_NAME=server-logs
ARCHIVE_CATEGORY_NAME=archived
LEAD_DEVELOPER_ROLE_NAME=Lead Developer
QA_ROLE_NAME=QA
DEVOPS_ROLE_NAME=DevOps

CREATE_TASK_ROLES=Founder,Lead Developer
ASSIGN_TASK_ROLES=Founder,Lead Developer
MOVE_TASK_ROLES=Founder,Lead Developer
ARCHIVE_TASK_ROLES=Founder,Lead Developer

CREATE_BUG_ROLES=Founder,Lead Developer,QA,Developer,DevOps
ASSIGN_BUG_ROLES=Founder,Lead Developer,QA
MOVE_BUG_ROLES=Founder,Lead Developer,QA
